.container {
  position: relative;
  margin-top: 7rem;
  img {
    width: 100%;
    height: auto;
  }
  .gif {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
